@page "/productlist"
@using System.Net.Http.Headers
@using Blazor.Extensions.Storage
@using ProductCRUD.Models;
@using ProductCRUD.Services;
@inject HttpClient Http
@inject IProductService ProductService
@inject LocalStorage LocalStorage
@inject NavigationManager NavigationManager
<h3>ProductList</h3>
@if (products == null || products.Length == 0)
{
    <p>Loading...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Stock Unit</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Title</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td>@product.Description</td>
                    <th><button class=" btn btn-primary btn-sm" @onclick="@(()=>GoToDetail(product.Id))"></button></th>
                </tr>

            }
            
        </tbody>
    </table>
}

@code {
    Product[] products;

    protected override async Task OnInitializedAsync()
    {

        if (!Http.DefaultRequestHeaders.Contains("Authorization"))
        {
            var token = await LocalStorage.GetItem<string>("token");
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        }
        products = await ProductService.GetProducts();
    }

    void GoToDetail(int productId)
    {
        NavigationManager.NavigateTo("/productdetail/" + productId);
    }
}
